/**
 * Colors
 * -------------------------------------------------------------------------- */
:root {
  --vp-c-brand-1: hsl(128, 56%, 38%);
  --vp-c-brand-2: hsl(128, 56%, 55%);
  --vp-c-brand-3: hsl(128, 56%, 45%);
  --vp-c-brand-soft: rgba(98, 133, 208, 0.16);
}

/**
   * Component: Home
   * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    hsl(128, 56%, 38%) 30%,
    hsl(128, 56%, 60%)
  );
  --vp-home-hero-image-background-image: linear-gradient(
    120deg,
    hsl(100, 56%, 45%) 30%,
    hsl(120, 56%, 38%)
  );

  --vp-home-hero-image-filter: blur(40px);
}
